body{
    max-width: 100%;
    background-color: #D6D5A8;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}  
#container {
    display: grid;
    width: 500px;
    height: 500px;
    border: black solid;
    margin: 10px 0;
    /* gap: 5px; */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
  
  /*css properties for each grid item and transition to go with  */
.grid-item{
    transition: 0.3s; 
}

/* adds an hover effect over each item */
/* .grid-item:hover{
    background-color: blueviolet;
} */